{% extends 'base.html.twig' %}

{% block title %} Création nouvel évènement {% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-primary h2">Nouvel évènement</h2>
        {{ form_start(form_view) }}
        {{ form_widget(form_view) }}
        {{ form_end(form_view) }}
    </section>
    <section class="container mt-3">
        <a href="{{ path('event') }}" class="btn btn-primary">Retourner à la vue des évènements</a>
    </section>

{% endblock %}