{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="container" >
    <h1 class="text-primary h1">Bienvenue, ceci est l'accueil ;)</h1>
</section>
{% endblock %}
