{% extends 'base.html.twig' %}

{% block title %} Ajouter un établissement {% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-primary h2">Ajout d'un nouvel établissement</h2>
        {{ form_start(form_view) }}
        {{ form_widget(form_view) }}
        {{ form_end(form_view) }}
    </section>
    <section class="container mt-3">
        <a href="{{ path('etablishment') }}" class="btn btn-primary">Retourner à la vue des établissements</a>
    </section>

{% endblock %}