{% extends 'base.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-primary h2">Les salles</h2>
        <ul>
            {% for room in rooms %}
                <li class="fw-bold">{{ room.name }}
                    <span class="fs-6 fw-normal"> de {{ room.capacity }} places.</span>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ path('category_create') }}" class="btn btn-primary" >Ajouter une salle</a>
    </section>

{% endblock %}
