{% extends 'base.html.twig' %}

{% block title %} Créer nouvel animateur {% endblock %}

{% block body %}

    <section>
        <h2>Création d'un nouvel animateur</h2>
        {{ form(form_view) }}
    </section>

{% endblock %}