{% extends 'base.html.twig' %}

{% block title %}Liste des animateurs{% endblock %}

{% block body %}

<section class="container">
    <h2 class="text-primary h2">Liste des animateurs</h2>
    <ul>
        {% for animator in animators %}
        <li>Animateur : {{ animator.firstname }} {{ animator.lastname }}</li>
        {% endfor %}
    </ul>

        <a href="{{ path('animator_create') }}" class="btn btn-primary" >Ajouter un nouvel animateur</a>
    </section>

{% endblock %}
