{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-danger h2">Erreur</h2>
        <p>La page demandé n'existe pas</p>
    </section>

{% endblock %}
